extends layout

block content

  logo(class="button" href='/')

  p Welcome on our Website!
  br
  a(class="button" href='/auth/google') Login by Google
  br
  br
  br
  a(class="button" href='/api/logout') Logout
  br
  br
  br
  a(class="button" href='/api/current_user') Current User